# Application
PORT=3000
NODE_ENV="development"

# PostgreSQL
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="stock_purchase"
POSTGRES_PORT=5432
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/stock_purchase?schema=public"

# Kafka
KAFKA_BROKER="localhost:9092"
KAFKA_CLIENT_ID="stock-purchase"
KAFKA_CONSUMER_GROUP_ID="stock-purchase-group"
KAFKA_EXTERNAL_PORT=9092

# Kafka Topics
KAFKA_TAX_EVENTS_TOPIC="tax-events"

# Kafka UI
KAFKA_UI_PORT=8081

# RabbitMQ
RABBITMQ_USER="guest"
RABBITMQ_PASS="guest"
RABBITMQ_URL="amqp://guest:guest@localhost:5672"


