# Application
APP_PORT=3000
NODE_ENV=development

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=stock_purchase
POSTGRES_PORT=5432
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/stock_purchase?schema=public"

# Kafka
KAFKA_BROKERS=localhost:29092
KAFKA_CLIENT_ID=stock-purchase
KAFKA_CONSUMER_GROUP_ID=stock-purchase-group
KAFKA_EXTERNAL_PORT=29092

# Kafka Topics
KAFKA_TAX_EVENTS_TOPIC=tax-events

# Kafka UI
KAFKA_UI_PORT=8081
